<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LoggingFilePath" value="C:\junk\fiveslunddemo\Errors.log" />
    <add key="SourceDataFilePath" value="C:\junk\fiveslunddemo\Source.json" />
    <add key="DestinationDataFilePath" value="C:\junk\fiveslunddemo\Destination.json" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>